.banner {
  text-align: center;
  margin-top: 80px;
}

.banner h1 {
  font-family: "Acme", sans-serif;
  color: white;
  font-size: 80px;
}

.banner p {
  font-family: "Archivo Narrow", sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
}

.form-input {
  text-align: center;
  margin-bottom: 30px;
}

.form-input input {
  width: 50%;
  padding: 10px 0px 10px 8px;
}

.form-input .button {
  margin-left: 20px;
  padding: 5px 15px 10px 15px;
}

.weather {
  display: block;
  margin: 0 auto;
  color: white;
  background: #34495e;
  padding: 0px 0px 60px 0px;
  width: 60%;
  opacity: 0.9;
}
.degrees {
  text-align: center;
  font-weight: bolder;
  font-size: 70px;
  color: #2ecc71;
}

.city {
  font-size: 36px;
  margin: 10px 10px;
  font-family: "Bree Serif", serif;
  text-align: center;
}

.weather h3 {
  text-align: center;
}

.weather-conditions {
  display: block;
  text-align: center;
}

.weather-conditions i {
  /* display: block; */
  margin: 8px;
}

.weather-image img {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.weather-image h3 {
  font-family: "Acme", sans-serif;
  font-size: 40px;
}
